input {
  height: 50px;
  border: solid #032449;
}
.Contact {
  text-align: center;
}
.infos {
  display: flex;
}
.infos label {
  color: black;
}
.infos ul {
  display: flex;
  list-style: none;
  text-align: center;
}
