.contpanier {
  text-align: center;
  margin: auto;
  color: #032449;
  margin-top: 150px;
  font-size: 20px;
  top: 40%;
  border: 5px solid #032449;
  background-color: #b5caf2;
  width: 80%;
  height: 500px;
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  display: grid;
  grid-template-rows: 30% 30% 30% 30% 30% 30%;
}
.contpanier > div {
  /*ajout sur toutes les box dans livre*/
  border-radius: 5px;
  width: 80%;
  height: 220px;

  padding: 10px;
  background-color: #b5caf2;
  border: 5px solid #032449;
  border-radius: 15px;
  margin: -1em 10em 2em;
}
.contimg {
  position: sticky;
  background-color: gray;
  border: 3px solid #032449;
  width: 300px;
  height: 200px;
  margin-left: 50px;
  margin-top: 10px;
}
.prixpanier {
  text-align: center;
  margin: auto;
  color: #032449;
  margin-top: 50px;
  font-size: 20px;
  top: 40%;
  border: 5px solid #032449;
  background-color: #b5caf2;
  width: 80%;
  height: 200px;
  border-radius: 15px;
}
