.m2l {
  border-radius: 50%;
  background-color: white;
  background-image: url(../../m2l.PNG);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  margin-top: 50px;
  top: 15%;

  left: 45%;
  width: 200px;
  height: 200px;
}
.container {
  text-align: center;
  margin: auto;
  color: #032449;
  margin-top: 25px;
  font-size: 20px;
  top: 40%;
  border: 3px solid #032449;
  background-color: #b5caf2;
  width: 500px;
  height: 400px;
  border-radius: 15px;
}
.container label {
  float: left;
  margin-left: 50px;
}

.container li {
  font-weight: bold;
  padding-top: 25px;
  list-style: none;
}
.container input {
  margin-right: 25px;
  width: 80%;
}
.button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: 3px solid #032449;
  background-color: #2e73c3;
  color: #e0ecfa;
  font-weight: bold;
}
