body{
      overflow-x: hidden;
    margin: 0;
    top:0px;
    left:0px;
      background-color: #E0ECFA;
}
.compte{
    position: absolute;
    top:5px;
    right: 50px;
    color:#E0ECFA;
}
.compte a{
  margin-left: 15px;
  color:#E0ECFA;
  text-decoration: none;
}
.logo{
    border:solid #1E4F96;
    position: absolute;
    background-image: url(./m2l.PNG);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 100%;
    left: 20px;
    top:20px;
    height: 120px;
    width: 120px;
}
.Accueil{
    color:#E0ECFA;
    font-size: 20px;
    float: left;
    margin-left: 170px;
    text-decoration: none;
    line-height: 95px;
    font-weight: bold;
}

.ulNavBar{
    display: flex;
    list-style: none;
    float: right;
}
.ulli{
   height: 50px;
   border-radius: 15px;
   
   z-index: 2;
  
   
}
#menu a {
    line-height: 15px;
    
}
.ullia {
    line-height: 60px;
    position:relative;
    z-index: 2;
}
.ulNavBar a{
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 30px;
    color:#E0ECFA;
    font-size: 20px;
    
}

.navBar{
    background-color:#1E4F96;
    height: 80px;
}


#menuToggle {
  display: block;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;

}

#menuToggle a {
  text-decoration: none;
  color: #ededed;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 200px;
  height: 50px;
  right: 60px;
  position: absolute;
  top: 15px;
  cursor: pointer;
  opacity: 0;

  z-index: 200; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle #span1 {
  display: block;
  width: 12px;
  height: 4px;
  margin-bottom: 15px;
  position: relative;
  background: #E0ECFA;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transform: rotate(45deg) translate(88px, -130px);

}
#menuToggle #span2 {
  display: block;
  width: 12px;
  height: 4px;
  margin-bottom: 15px;
  position: relative;
  background: #E0ECFA;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transform: rotate(-45deg) translate(144px, 79px);

}


#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: linear-gradient(
      0deg,
      red(16, 34, 196, 0.2),
      red(16, 34, 196, 0.2)
    ),
    red(49, 48, 51, 0.72);
}



#menuToggle input:checked ~ #span2:nth-last-child(2) {
  transform: rotate(-125deg) translate(-55px,148px);
}
#menuToggle input:checked ~ #span1:nth-last-child(3) {
  opacity: 1;
  transform: rotate(125deg) translate(-115px, -110px);
}

#menu {
  position: absolute;
  width: 150px;
  margin: 100px -15px 100px;
  padding: 20px;
  padding-top: 50px;
  margin-top: -90px;
    background-color: #E0ECFA;
    border:3px solid  #799ACA;
  list-style-type: none;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(250%, 0);
    text-align: center;
    
}

#menu li {
  color:#799ACA;
  font-size: 15px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.stylemenu {
  width: 100%;
  color: black;
  background-color: #799ACA;
  position: absolute;
  padding-top: 45px;
  left: 0;
  top: 0;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
.stylemenu li {
  position: absolute;
  top: 10px;
  margin-left: 20px;
}
footer{
    position: absolute;
    background-color: #032449;
    color: #E0ECFA;
    height: 80px;
    width: 100%;
    bottom: 0;
}
footer ul{
    list-style: none;
    margin-top: 15px;
     width: 100px;
}
footer li{
    list-style: none;
    margin-top: 15px;
   
}
footer a{
    text-decoration: none;
    color:#E0ECFA;
}